<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Album</title>
</head>
<body>

<ul class="nav">
    <li class="navlink"><a href="/home">Home</a></li>
    <li class="navlink"><a href="/albums">Add Albums</a></li>
    <li class="navlink"><a href="/album">Album</a></li>
</ul>

<h1>Best Albums</h1>
<form action="/albums" method="POST">
    <h2>Add an Album</h2>
    Title: <input type="text" name="title">
    Artist: <input type="text" name="artist">
    Song Count: <input type="number" name="songCount">
    Length: <input type="number" name="length">
    Image Url: <input type="text" name="imageUrl">
    <input type="submit" value="Submit">
</form>

<h2>Albums</h2>
<div class="entry" th:each="entry : ${entries}">
    <ul>
    <li th:text="${entry.title}"></li>
    <li th:text="${entry.artist}"></li>
    <li th:text="${entry.songCount}"></li>
    <li th:text="${entry.length}"></li>
        <a th:href="'albums/'+${entry.id}"><img th:src="${entry.imageUrl}"></a>
    </ul>
</div>
</body>
</html>