<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Album</title>
</head>
<body>
<form action="/albums" method="POST">
    <h2>Add a new emotion</h2>
    Title : <input type="text" name="title">
    Artist: <input type="text" name="artist">
    Song Count : <input type="text" name="songCount">
    length: <input type="text" name="length">
    
    <input type="submit">

<h1>Best Albums</h1>
<form action="/albums" method="POST">
    <h2>Albums</h2>
    Title: <input type="text" name="albumName">
    Artist: <input type="text" name="artist">
    Song Count: <input type="number" name="songCount">
    Length: <input type="number" name="length">
    Image Url: <input type="text" name="imageUrl">
    <input type="submit" value="Submit">
</form>

<div class="entry" th:each="entry : ${entries}">
    <ul>
    <li th:text="${entry.title}"></li>
    <li th:text="${entry.artist}"></li>
    <li th:text="${entry.songCount}"></li>
    <li th:text="${entry.length}"></li>
    <li th:text="${entry.imageUrl}"></li>
    </ul>
</div>
</body>
</html>